body {
  background: darkgrey;
}

html {
  font-family: helvetica;
}

#title {
  text-align: center;
}

#black-card{
  height: 245px;
}

#black-card-text{
  font-size: 1.5em;
  line-height: normal;
}

.card-panel.white{
  height: 245px;
  font-size: 1.5em;
  line-height: normal;
}

#white-card-container{
  width: 68%;
  margin: 0 auto;
}

#score-box{
  float: right;
  font-size: 1.2em;
  line-height: .7em;
  margin-right: 7%;
  border-color: 3px;
  border-width: medium;
  border-color: red;
}
